.navbar {
	background-color: #17171D;
	opacity: 0.9;
}
.navbar-toggler-icon {
	color: #FCF3DC;
}
.border {
	display: inline-block;
}
.active {
	color: #DC4523!important;
}
ul{
    
}
ul li a {
	color: #FCF3DC!important;
	font-family: 'Raleway', sans-serif;
}
ul li a:hover{
    color:#DC4523 !important;
}


.footer-section {
	background-color: #FCF3DC;
}
.footer-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.fl {
	margin-left: 100px;
}
.logoiteam {

}